<%- include("partials/header.ejs") %>

<h2><%= locals.addStatus  %></h2>
<form action="/articles" method="GET">
    <input type="submit" value="Articles page" />
</form>

<%- include("partials/footer.ejs") %>